<a href="https://colab.research.google.com/github/ymuto0302/base2_2020/blob/master/pandas_groupby.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# pandas の groupby によるグルーピング ＆ 統計量の算出

## データフレームの作成

In [0]:
import pandas as pd

df = pd.DataFrame({
    'pref': ['山口', '山口', '山口', '山口', '福岡', '福岡', '福岡'],
    'city': ['山口', '宇部', '下関', '下関', '福岡', '福岡', '門司'],
    'food': ['ういろう', '宇部かま', 'フグ', '瓦そば', '豚骨ラーメン', 'もつ鍋', '焼きカレー'],
    'price': [500, 800, 1000, 1500, 800, 1200, 600]
})

In [2]:
df

  pref city    food  price
0   山口   山口    ういろう    500
1   山口   宇部    宇部かま    800
2   山口   下関      フグ   1000
3   山口   下関     瓦そば   1500
4   福岡   福岡  豚骨ラーメン    800
5   福岡   福岡     もつ鍋   1200
6   福岡   門司   焼きカレー    600

## グループ化した上で件数を数える (count メソッド)

In [0]:
df_pref = df.groupby("pref").count()

In [4]:
df_pref

      city  food  price
pref
山口       4     4      4
福岡       3     3      3

In [0]:
df_pref_city = df.groupby(["pref", "city"]).count()

In [6]:
df_pref_city

           food  price
pref city
山口   下関       2      2
     宇部       1      1
     山口       1      1
福岡   福岡       2      2
     門司       1      1

In [7]:
df

  pref city    food  price
0   山口   山口    ういろう    500
1   山口   宇部    宇部かま    800
2   山口   下関      フグ   1000
3   山口   下関     瓦そば   1500
4   福岡   福岡  豚骨ラーメン    800
5   福岡   福岡     もつ鍋   1200
6   福岡   門司   焼きカレー    600

## グループ化した上で平均をとる (mean メソッド)

In [0]:
df_city = df.groupby("city").mean()

In [9]:
df_city

      price
city
下関     1250
宇部      800
山口      500
福岡     1000
門司      600